<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diwen.liliao">

    <uses-permission android:name='android.permission.INTERNET' />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="design_width_in_dp"
            android:value="${DESIN_WIGHT}" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="${DESIN_HEIGHT}" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/splash_style"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
          
        <activity
            android:name=".activity.DeviceSettingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DeviceLauncherActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DeviceModelActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LanguageSettingActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AirSettingActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MaiChongSettingActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TimeSettingsActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddDeviceActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.UseHitorActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BlStateActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DeviceListActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>